@keyframes ldio-8wjutrlxr2o-1 {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(-45deg) }
  100% { transform: rotate(0deg) }
}
@keyframes ldio-8wjutrlxr2o-2 {
    0% { transform: rotate(180deg) }
   50% { transform: rotate(225deg) }
  100% { transform: rotate(180deg) }
}
.ldio-8wjutrlxr2o > div:nth-child(2) {
  transform: translate(-15px,0);
}
.ldio-8wjutrlxr2o > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #292664;
  animation: ldio-8wjutrlxr2o-1 0.4098360655737705s linear infinite;
  transform-origin: 60px 60px
}
.ldio-8wjutrlxr2o > div:nth-child(2) div:nth-child(2) {
  animation: ldio-8wjutrlxr2o-2 0.4098360655737705s linear infinite
}
.ldio-8wjutrlxr2o > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}@keyframes ldio-8wjutrlxr2o-3 {
    0% { transform: translate(190px,0); opacity: 0 }
   20% { opacity: 1 }
  100% { transform: translate(70px,0); opacity: 1 }
}
.ldio-8wjutrlxr2o > div:nth-child(1) {
  display: block;
}
.ldio-8wjutrlxr2o > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #667395;
  animation: ldio-8wjutrlxr2o-3 0.4098360655737705s linear infinite
}
.ldio-8wjutrlxr2o > div:nth-child(1) div:nth-child(1) { animation-delay: -1.6348s }
.ldio-8wjutrlxr2o > div:nth-child(1) div:nth-child(2) { animation-delay: -0.8052s }
.ldio-8wjutrlxr2o > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-ol5pbdnhuue {
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

}
.ldio-8wjutrlxr2o {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
  background-color: #ffffff;
  }
.ldio-8wjutrlxr2o div { box-sizing: content-box; }
.loader{
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
}